/*CSS Général*/
*{

}

body{

}

h1{
 font-family: Anton,serif;
}

h2{

}

h3{

}


/*Header*/
header{
  background-image: image();
}

header li{
  list-style-type: none;
}


/**/


/**/


/**/



/**/


/**/
